---
# inspired by:
# - https://faun.pub/running-your-home-assistant-on-kubernetes-part-ii-60eb46a73c61
kind: ConfigMap
apiVersion: v1
metadata:
  name: home-assistant-configuration
  namespace: home-assistant
data:
  configuration.yaml: |-
    # Load default config and integrations
    default_config:
    # Load frontend themes
    frontend:
      themes: !include_dir_merge_named themes
    # Load automations, scripts, and scenes
    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
    
    ### Enhanced default configuration by home-assistant-on-k3s
    # Home Assistant Customizing: Customize default home zone
    zone:
      - name: Home
        latitude: 47.5612316
        longitude: 9.1122952
        radius: 17
        icon: mdi:home
    # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
    homeassistant:
      allowlist_external_dirs:
        - /config
    sensor:
      - platform: filesize
        file_paths:
          - /config/home-assistant_v2.db
    # Web Application Security: Configuration for Web Application Firewall Sidecar
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 127.0.0.1
        - ::
