---
apiVersion: v1
kind: Namespace
metadata:
  name: home-assistant
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: modsecurity-waf-global-settings
  namespace: home-assistant
  annotations:
    reflector.v1.k8s.emberstack.com/reflects: "c4m-general/modsecurity-waf-global-settings"
    reflector.v1.k8s.emberstack.com/reflected-version: ""
data:

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-waf-webapp-settings
  namespace: home-assistant
data:
  99-webapp-settings.conf: |
    # TODO: Home Assistant Web Application Security
    # SecRule REQUEST_URI "@beginsWith /attack-me" "id:1001,phase:1,pass,nolog,ctl:ruleEngine=Off"
---
# inspired by:
# - https://faun.pub/running-your-home-assistant-on-kubernetes-part-ii-60eb46a73c61
kind: ConfigMap
apiVersion: v1
metadata:
  name: home-assistant-configuration
  namespace: home-assistant
data:
  configuration.yaml: |-
    # Load default config and integrations
    default_config:
    # Load frontend themes
    frontend:
      themes: !include_dir_merge_named themes
    # Load automations, scripts, and scenes
    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
    zone: !include zones.yaml
    sensor: !include_dir_merge_list sensors/
    recorder: !include recorder.yaml
    
    ### Enhanced default configuration by home-assistant-on-k3s
    homeassistant:
      # Configure your individual setting
      unit_system: metric
      currency: CHF
      country: CH
      time_zone: "Europe/Zurich"
      external_url: "https://smarthome.osoz.ch"
      internal_url: "https://smarthome.osoz.ch"
      language: de-DE
      allowlist_external_dirs:
        # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
        - "/config"
      debug: false
    # Web Application Security: Configuration for Web Application Firewall Sidecar
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 127.0.0.1
        - ::
  sensor_homeassistant_specials.yaml: |-
    # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
    - platform: filesize
      scan_interval: 300
      file_paths:
        - "/config/home-assistant_v2.db"
  recorder.yaml: |-
    # Data Housekeeping: https://community.home-assistant.io/t/how-to-keep-your-recorder-database-size-under-control/295795
    include:
      domains:
        - sensor
        - switch
        - light
        - media_player
    exclude:
      entities:
        - sensor.last_boot
        - sensor.date
