apiVersion: v1
kind: ConfigMap
metadata:
  name: modsecurity-waf-global-settings
  namespace: "cloudia-test"
  annotations:
    reflector.v1.k8s.emberstack.com/reflects: "c4m-general/modsecurity-waf-global-settings"
    reflector.v1.k8s.emberstack.com/reflected-version: ""
data:
