---
kind: ConfigMap
apiVersion: v1
metadata:
  name: zigbee2mqtt-configuration
  namespace: home-assistant
data:
  configuration.yaml: |-
    version: 4
    mqtt:
      # Required: MQTT server URL (use mqtts:// for SSL/TLS connection)
      # Example: 'localhost', when using the Mosquito HA addon use 'core-mosquitto'
      server: 'mqtts://mosquitto-service.homeassistant.svc.cluster.local:8883'
      # Optional: MQTT base topic for Zigbee2MQTT MQTT messages (default: zigbee2mqtt)
      base_topic: zigbee2mqtt
      # Optional: absolute path to SSL/TLS certificate of CA used to sign server and client certificates (default: nothing)
      ca: '/etc/ssl/mqtt-ca.crt'
      # Optional: absolute paths to SSL/TLS key and certificate for client-authentication (default: nothing)
      key: '/etc/ssl/mqtt-client.key'
      cert: '/etc/ssl/mqtt-client.crt'
      # Optional: MQTT server authentication user (default: nothing)
      user: my_user
      # Optional: MQTT server authentication password (default: nothing)
      # password: my_password
      password: '!secret.yaml mqtt_password'
      # Optional: MQTT client ID (default: nothing)
      client_id: 'MY_CLIENT_ID'
      # Optional: disable self-signed SSL certificates (default: true)
      reject_unauthorized: true
      # Optional: Include device information to mqtt messages (default: false)
      include_device_information: true
      # Optional: MQTT keepalive in seconds (default: 60)
      keepalive: 60
      # Optional: MQTT protocol version (default: 4), set this to 5 if you
      # use the 'retention' device specific configuration
      version: 4
      # Optional: Disable retain for all send messages. ONLY enable if your MQTT broker doesn't
      # support retained message (e.g. AWS IoT core, Azure IoT Hub, Google Cloud IoT core, IBM Watson IoT Platform).
      # Enabling will break the Home Assistant integration. (default: false)
      force_disable_retain: false
      # Specifies the maximum allowed packet length (in bytes) that the server can send to Zigbee2MQTT. NOTE: The same value exists in your MQTT broker but for the length the client can send to it instead. (default: 1048576)
      maximum_packet_size: 1048576
    serial:
      port: /dev/serial/by-id/<SERIAL_ID>
      adapter: zstack
    advanced:
      #### Zigbee network
      # Optional: Zigbee pan ID (default: shown below)
      # Setting pan_id: GENERATE will make Zigbee2MQTT generate a new panID on next startup
      pan_id: 23027
      # Optional: Zigbee extended pan ID, GENERATE will make Zigbee2MQTT generate a new extended panID on next startup (default: shown below)
      ext_pan_id: [186, 1, 136, 254, 234, 167, 115, 36]
      # Optional: Zigbee channel, changing might require re-pairing of some devices (see docs below). (Note: use a ZLL channel: 11, 15, 20, or 25 to avoid problems)
      # (default: 11)
      channel: 15
      # Optional: network encryption key
      # GENERATE will make Zigbee2MQTT generate a new network key on next startup
      # Note: changing requires repairing of all devices (default: shown below)
      # network_key: [1, 3, 5, 7, 9, 11, 13, 15, 0, 2, 4, 6, 8, 10, 12, 13]
      network_key: '!secret.yaml network_key'
      #### MQTT
      ### Optional: state caching, MQTT message payload will contain all attributes, not only changed ones.
      ## Has to be true when integrating via Home Assistant (default: true)
      # cache_state: true
      ### Optional: persist cached state, only used when cache_state: true (default: true)
      # cache_state_persistent: true
      ### Optional: send cached state on startup, only used when cache_state_persistent: true (default: true)
      # cache_state_send_on_startup: true
      ### Optional: Add a last_seen attribute to MQTT messages, contains date/time of last Zigbee message
      # possible values are: disable (default), ISO_8601, ISO_8601_local, epoch (default: disable)
      # last_seen: 'disable'
      ### Optional: Add an elapsed attribute to MQTT messages, contains milliseconds since the previous msg (default: false)
      # elapsed: false
      ### Optional: MQTT output type: json, attribute or attribute_and_json (default: shown below)
      ## Examples when 'state' of a device is published
      ## json: topic: 'zigbee2mqtt/my_bulb' payload '{"state": "ON"}'
      ## attribute: topic 'zigbee2mqtt/my_bulb/state' payload 'ON"
      ## attribute_and_json: both json and attribute (see above)
      # output: 'json'
      #### Logging
      ## Optional: Logging level, options: debug, info, warning, error (default: info)
      # log_level: info
      ## Optional: Set log levels for certain namespaces hierarchies (default: {})
      # log_namespaced_levels:
      #  z2m:mqtt: warning
      ## Optional: log timestamp format (default: shown below)
      ## See https://github.com/taylorhakes/fecha?tab=readme-ov-file#formatting-tokens for all supported tokens.
      # timestamp_format: 'YYYY-MM-DD HH:mm:ss'
      ## Optional: Location of log directory (default: shown below)
      # log_directory: data/log/%TIMESTAMP%
      ## Optional: Number of log directories to keep before deleting the oldest one (default: shown below)
      # log_directories_to_keep: 10
      ## Optional: Log file name, can also contain timestamp, e.g.: zigbee2mqtt_%TIMESTAMP%.log (default: shown below)
      # log_file: log.txt
      ## Optional: Rotate log every 10MB around 3 files (default: true)
      # log_rotation: true
      ## Optional: format the 'console' output as structured JSON instead of colored plain text.
      # log_console_json: false
      ## Optional: Output location of the log (default: shown below), leave empty to suppress logging (log_output: [])
      ## possible options: 'console', 'file', 'syslog'
      # log_output:
      #  - console
      #  - file
      ## Create a symlink called "current" in the log directory which points to the latests log directory. (default: false)
      # log_symlink_current: false
      ## Optional: syslog configuration, skip values or entirely to use defaults. Only use when 'syslog' in 'log_output' (see above)
      # log_syslog:
      #   host: localhost # The host running syslogd, defaults to localhost.
      #   port: 514 # The port on the host that syslog is running on, defaults to syslogd's default port.
      #   protocol: udp4 # The network protocol to log over (e.g. tcp4, udp4, tls4, unix, unix-connect, etc).
      #   path: /dev/log # The path to the syslog dgram socket (i.e. /dev/log or /var/run/syslog for OS X).
      #   pid: process.pid # PID of the process that log messages are coming from (Default process.pid).
      #   facility: local0 # Syslog facility to use (Default: local0).
      #   localhost: localhost # Host to indicate that log messages are coming from (Default: localhost).
      #   type: '5424' # The type of the syslog protocol to use (Default: BSD, also valid: 5424).
      #   app_name: Zigbee2MQTT # The name of the application (Default: Zigbee2MQTT).
      #   eol: '\n' # The end of line character to be added to the end of the message (Default: Message without modifications).
    frontend:
      enabled: true
      # Optional, default: zigbee2mqtt-frontend, possible: zigbee2mqtt-frontend, zigbee2mqtt-windfront
      package: zigbee2mqtt-frontend
      # Optional, default: 8080
      port: 8080
      # Optional, empty by default to listen on both IPv4 and IPv6. Opens a unix socket when given a path instead of an address (e.g. '/run/zigbee2mqtt/zigbee2mqtt.sock')
      # Don't set this if you use Docker or the Home Assistant add-on unless you're sure the chosen IP is available inside the container
      host: 0.0.0.0
      ## Optional, enables authentication, disabled by default, cleartext (no hashing required)
      # auth_token: your-secret-token
      # auth_token: '!secret.yaml auth_token'
      ## Optional, url on which the frontend can be reached, currently only used for the Home Assistant device configuration page
      # url: 'https://zigbee2mqtt.myhouse.org'
      ## Optional, certificate file path for exposing HTTPS. The sibling property 'ssl_key' must be set for HTTPS to be activated
      # ssl_cert: /config/etc/letsencrypt/live/mydomain.com/fullchain.pem
      ## Optional, private key file path for exposing HTTPS. The sibling property 'ssl_cert' must be set for HTTPS to be activated
      # ssl_key: /config/etc/letsencrypt/live/mydomain.com/privkey.pem
      # Optional, base URL for the frontend, when served from a subpath, e.g. behind the proxy. Default value is '/'
      base_url: /zigbee2mqtt
      # Optional, list of regular expressions to hide notifications, the example below hides notifications for failed device pings
      notification_filter:
        - 'z2m: Failed to ping.*'
      # Optional, if true, the frontend UI is not served, only the WebSocket is maintained by
      # Zigbee2MQTT (you are required to serve a standalone UI yourself as needed).
      disable_ui_serving: false
    homeassistant:
      enabled: false
    health:
      # Interval between checks in minutes (default: 10)
      interval: 10
      # If true, will reset stats every time the health check is executed (only applicable to stats that can be reset). (default: false)
      reset_on_check: false
    # Define the files which contains the configs
    devices: devices.yaml
    groups: groups.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: zigbee2mqtt-secret
  namespace: home-assistant
data:
  network_key: [1, 3, 5, 7, 9, 11, 13, 15, 0, 2, 4, 6, 8, 10, 12, 13]
  mqtt_password: asdfasd
  # auth_token: your-secret-token
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zigbee2mqtt-data
  namespace: home-assistant
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClass: longhorn
